.container {
    background: #f9f9f9;
    padding: 20px;
    padding-left: 17%;
    padding-right: 2%;
    transition: padding 0.3s ease-in-out;
}

.large-container {
    padding-left: 7%;
}

@media (max-width: 900px) {
    .container {
        padding-left: 10%;
        padding-right: 5%;
    }

    .large-container {
        padding-left: 5%;
    }
}

@media (max-width: 600px) {
    .container {
        padding-left: 5%;
        padding-right: 5%;
    }

    .large-container {
        padding-left: 3%;
    }
}

@media (max-width: 400px) {
    .container {
        padding: 15px;
        padding-left: 3%;
        padding-right: 3%;
    }

    .large-container {
        padding-left: 2%;
    }
}
